<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments.html :: head">
<title id="pageTitle">JDBC project</title>
</head>
<body>
<header th:insert="fragments.html :: navbar"> </header>
<div class="container">
    <p>
        <input type="text" id="line_input" class="form-control" placeholder="Name" required="true" autofocus="true" maxlength="5000" />
    </p>
    <p>
        <input type="submit" id="add_line_button" class="btn btn-primary" value="Submit"/>
    </p>
</div>
<div class="container" id="input_container">
</div>
</body>
</html>